<template>
    <div class="index">
        <div class="container">
            <div class="container">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3><span class="glyphicon glyphicon-leaf"></span> Home</h3></div>
                        <div class="panel-body">
                            <ul class="list-group">
#foreach( $entity in $selectedEntities )
                        <li class = "list-group-item list-group-item-action">
                            <router-link to="/${fn.uncapitalize($entity.name)}">${entity.name}</router-link>
                        </li>
#end
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    export default {
        name: 'index',
    }
</script>